/*background image*/
body {
	background-color: black;
	background-image: url("paper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-position: center;*/
	opacity: 1.0;
	}

header {
	font-size: 30px;
  	color: black;
  	text-shadow: 2px 2px white;
  	text-align: center;
}

h1 {
	display: inline;
	/*background-color: black;*/
}

h2 {
	text-shadow: -2px -2px white;
}

ul {
	display: inline;
	list-style-type: none;
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 1000;
	padding: 0;
	bottom: 0;
	font-size: 40px;
	/*color: black;*/
	text-shadow: -2px -2px white;
}

nav a {
	color: grey;
	text-decoration: none;
}

nav a:hover {
	text-shadow: -2px -2px red;
	text-decoration: underline;
}

nav a:active {
	text-shadow: -2px -2px #003300;
	text-decoration: none;
}