/*Body Styles*/

body.home {
	background-color: black;
	background-image: url("paper.jpg");
	width: 100%;
	/*position: absolute;*/
	top: 0;
	left: 0;
	/*background-size: 100%;*/
	background-repeat: no-repeat;
	/*background-position: center;*/
	opacity: 1.0;
	}

body.add {
	/*background-color: #600000;*/
	background: radial-gradient(#000000, #462f41, #8d5e82/*, #c6afc1, #ededed*/);
	background-attachment: fixed;
	height: 100%
	}	

body.look {
	/*background-color: #600000;*/
	background: linear-gradient(to top right, #941828, #7e1522, #68111c, #520d16, #000000);
	background-attachment: fixed;
	height: 100%
	}

body.ask {
	/*background-color: #600000;*/
	background: linear-gradient(to left, #135358, #1a454b 10%, #17403d 20%, #101727 50%, #110b22 80%);
	background-attachment: fixed;
	height: 100%
	}


/*Header Styles*/

header.home {
	font-size: 30px;
  	color: black;
  	text-shadow: 2.5px 2.5px white;
  	text-align: center;
}

header.add {
	font-size: 30px;
  	color: white;
  	text-shadow: 2.5px 2.5px black;
  	text-align: center;
}

header.look {
	font-size: 30px;
  	color: white;
  	text-shadow: 2.5px 2.5px black;
  	text-align: center;
}

header.ask {
	font-size: 30px;
  	color: white;
  	text-shadow: 2.5px 2.5px black;
  	text-align: center;
}

h1.home {
	display: inline-block;
	font-size:  100px;
}

h2.home {
	display: inline-block;
	text-shadow: -1px -1px white;
	font-size:  50px;
}

h1.add {
	font-family: Palatino, serif;
	display: inline-block;
	font-size:  50px;
}

h1.look {
	font-family: Palatino, serif;
	display: inline-block;
	font-size:  50px;
}

h1.ask {
	font-family: Palatino, serif;
	display: inline-block;
	font-size:  50px;
}


/*Nav Styles*/

/*.button {
    background-color: #f44336;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid black;
}*/

ul {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 1000;
	padding: 0;
	bottom: 0;
	font-size: 30px;
	line-height: 20px;
	text-shadow: -3px -3px white;
}

nav a {
	color: black/*#888888*/;
	text-decoration: none;
}

nav a:hover {
	text-shadow: -2px -2px red;
	text-decoration: none;
}

nav a:active {
	text-shadow: -2px -2px #003300;
	text-decoration: none;
}

/*#img.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}*/