/*background image*/
body {
	background-color: darkred;
	background-image: url("paper.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-position: center;*/
	opacity: 0.5;
	}

header {
  	color: white;
  	text-align: center;
}

