#greeting {
  background-color: #F8F8F8;
  font-family: 'Palatino', serif;
  font-size: 24px;
  margin: 15px;
}

styles.css
styles.css
Open with
mack mcconnell 
(mmcconnell23@gmail.com)Displaying styles.css.
